table, tr, td, th{
    border-spacing: 0;
    min-width: 90px;
}
#table-scroll{
    width: 80%;
    height: 240px;
    margin: 30px auto;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    overflow: auto;
}
#table-scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
#table-scroll::-webkit-scrollbar-thumb{
    background-color: rgb(190, 190, 189);
    border-radius: 3px;
}
#table-scroll table{
    width: 100%;
    text-align: center;
}
tr td{
   padding: 10px 0;
} 
thead tr th{
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}
tr:hover td{
    background-color: rgb(207, 208, 209);
}
thead{
 position: sticky;
 top: 0;  
 z-index: 3; 
 background-color: #f0f0f0;
}
tbody{
    overflow-x: auto;
}
#td_id{
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #fff;
}
#th_id{
    position: sticky;
    left: 0;
    z-index: 4;
    background-color: #f0f0f0;
    min-width: 60px;
    max-width: 60px;
}
tr:hover #td_id  {
    background-color: rgb(207, 208, 209);
}
tr:hover #td_edit{
    background-color: rgb(207, 208, 209);
}

#th_edit{
    position: sticky;
    right: 0;
    z-index: 4;
    min-width: 60px;
    max-width: 60px;
    background-color: #f0f0f0;
}
#td_edit{
    position: sticky;
    right: 0;
    z-index: 2;
    background-color: #fff;
    color: blue;
}