body{
    background-color: rgb(248, 169, 215)
}
.table{
    width: 100%;
    border-collapse: collapse;
    padding: 40px 30px;
    border: 2px solid black;
}
th, tr, td{
    border: 2px solid black;
}